.chatapp {
    position: fixed;
    width: 100%;
    min-height: 100%;
    border: 1px solid red;
    background-color: #FB9AFE;
    background-image: url('./images/background.svg');
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 1fr 15% 574px 10% 1fr;
    grid-template-areas:
      ". ."
      "nav roominfo"
      "nav messages"
      "nav messageinput"
      ". ."
  }

