.message-input-container {
    grid-area: messageinput;
    background-color: #F7F6FD;
}

.message-send {
    height: 60px;
	width: 88%;
	border: 1px solid #EDEEF6;
	background-color: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 #EDEEF6, 0 2px 4px 0 rgba(213,214,229,0.5);
    margin-bottom: 48px;
    margin-left: 96px;
    text-indent: 55px;
    color: #4A4A4A;
	font-family: "Avenir Next";
	font-size: 16px;
    line-height: 22px;
}
