.message-group {
    max-width: 50%;
    justify-self: end;
    margin-left: 96px;
}

.message-group:last-child {
    margin-bottom: 25px;
}

.from-me {
    justify-self: end;
    margin-left: 65%;
}

.message-body {
    display: inline-block;
    height: auto;
    min-height: 40px;
    max-width: 300px;
	border-radius: 20px;
    background-color: #D8D8D8;
    justify-self: start;
}

.message-body p {
	color: #4A4A4A;
	font-family: "Avenir Next";
	font-size: 16px;
	font-weight: 500;
    line-height: 22px;
    margin: 0px;
    padding: 10px 23px;
}

.from-me .message-body {
    background-color: #42A4F5;
}